<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229129838603-d0rp1tpkhbuo6ft7vhqgoturgh1fnrn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229129838603-d0rp1tpkhbuo6ft7vhqgoturgh1fnrn9</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ4m8YN_GGi5Vx9bZNM5cJA22z47O5TPE</string>
	<key>GCM_SENDER_ID</key>
	<string>229129838603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fileUpload</string>
	<key>PROJECT_ID</key>
	<string>uploading-files-99</string>
	<key>STORAGE_BUCKET</key>
	<string>uploading-files-99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229129838603:ios:83a45c77dac87bc937270e</string>
</dict>
</plist>